extends ../layout

block body
  div.jumbotron
    div.container-fluid
      p
        a(href=`/users/show/${user._id}`)= user.name
      //- p= user.name
      p= err

    div.container-fluid
      form(id="goals", method="POST", action="/goals")
        input(type="hidden", name="_user", value=user._id)
        div.form-group
          label(for="goalInput")
          input(type="text", id="goalInput", placeholder="What do you want to achieve?", name="title").form-control
          input(type="text", id="goalInput", placeholder="Describe it here", name="body").form-control
          button(type="submit") Submit

    div.container
      if goals.length == 0
        p No goals found!
      else
        each goal in goals
          h2= goal.title || 'No Title'
          p= goal.body || 'No Body'
          p= goal.date
