extends ../layout

block body
  div.jumbotron
    div.container-fluid
      form(id="goals", method="POST", action="/goals")
        div.form-group
          label(for="goalInput")
        div.form-group
          input(type="text", id="goalInput", placeholder="Enter your goal title", name="title").form-control
        div.form-group
          input(type="text", id="goalInput", placeholder="Enter your goal description", name="body").form-control
        div.form-group
          input(type="text", id="goalInput", placeholder="Enter your goal weight", name="weight").form-control
        div.form-group
          button(type="submit") Submit
      div
        p= `Total Weight: ${totalWeight}`

  div.container
    if !goals
      //- p No goals found!
    else
      each goal in goals
        if goal.complete
          h2
            strike= goal.title || 'No Title'
          p
            strike= goal.body || 'No Body'
          p
            strike= goal.date
          p
            strike= goal.weight
          a(href=`/goals/${goal.id}/undo`) Undo
        else
          h2= goal.title || 'No Title'
          p= goal.body || 'No Body'
          p= goal.date
          p= goal.weight
          a(href=`/goals/${goal.id}/complete`) Complete
